<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teok.android">

    <!-- We require OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".PalaceApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AndroidPalace"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.ShrinkAndFadeInActivity"
            android:label="@string/anim_shrink_and_fade_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.FrameFocusTransitionActivity"
            android:label="@string/anim_frame_focus_transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.dictionary.DictDemo"
            android:label="@string/dict">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lab.zip.AndroidZip"
            android:label="@string/android_zip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.lesson1.LessonOneGettingStarted"
            android:label="@string/gles_lesson_one">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.lesson2.LessonTwoActivity"
            android:label="@string/gles_lesson_two"></activity>
        <activity
            android:name=".opengles.lesson3.LessonThreeActivity"
            android:label="@string/gles_lesson_three">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.lesson4.LessonFourActivity"
            android:label="@string/gles_lesson_four">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.my.DrawPrimitives"
            android:label="@string/gles_my_draw_triangle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.my.DrawFivePointedStar"
            android:label="@string/gles_my_draw_a_five_pointed_star">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.my.GLESImplInfo"
            android:label="@string/gles_my_draw_gl_es_impl_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.my.BoingBall"
            android:label="@string/gles_my_draw_boing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengles.my.CubePreviewer"
            android:label="@string/gles_my_draw_cube_previewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphics.RoundedCornersImageActivity"
            android:label="@string/title_activity_rounded_corners_image">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>

        <!-- Widget -->


        <!-- Xposed Test starts -->
        <activity
            android:name=".xposed.ShowInterpretLog"
            android:label="@string/show_interpret_log">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".tts.GoogleTtsActivity"
            android:label="@string/tts_google">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teok.android.palace.CODE" />
            </intent-filter>
        </activity>

        <!-- Widgets -->

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Xposed Test" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>